# macOS
.DS_Store

# NixOS
result

# Agents
PLAN.md
SESSION.md

# Projects
**/projects.nu
**/projects.zsh

# Python
**/__pycache__
**/.pyc

# Local runtime state
modules/shared/home-manager/dotfiles/tmux/.config/tmux/plugins/
