@import "themes/catppuccin.css";
@define-color accent #89b4fa;
@define-color muted #585b70;

* {
    background-color: @background;
    color: @foreground;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Lexend";
    font-size: 14px;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#workspaces button {
    all: initial;
    padding: 0 8px;
    margin: 0 1.5px;
    min-width: 11px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active {
    color: @accent;
}

#battery,
#pulseaudio {
    min-width: 20px;
    margin: 0 9px;
}

#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-expand-icon {
    font-size: 18px;
}

#tray {
    margin-right: 16px;
}

#bluetooth {
    margin-right: 17px;
}

#network {
    margin-right: 13px;
}

#custom-expand-icon {
    margin-right: 18px;
}

#custom-logout {
    margin-left: 12px;
    margin-right: 2px;
    font-size: 18px;
    color: @accent;
    padding: 0 6px;
}

#custom-logout:hover {
    color: @foreground;
}

tooltip {
    padding: 4px;
    border: 1px solid @accent;
    background: @background;
}

#clock {
    margin-left: 10px;
    color: @foreground;
}

#network.disconnected,
#bluetooth.disabled,
#bluetooth.off {
    color: @muted;
}
