name: Lint

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nix-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Enable Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Run linter
        run: nix run nixpkgs#just -- lint

